@import "tailwindcss";

/* Brand Theme */
@theme {
  --color-brand-primary: #5ec276;
  --color-brand-secondary: #729a78;
  --color-brand-light: #edfeee;
  --color-brand-soft: #f8fff8;
  --color-brand-dark: #3c4a3e;
}

/* Smooth rendering */
body {
  font-feature-settings: "rlig" 1, "calt" 1;
}